<div class="container">
  <div class="row">
    <div class="text-center col-sm-12 col-lg-12">
      <hgroup class="main-title white">
        <h2>Because coders code</h2>
        <h3>Use <strong>azk</strong> and easily orchestrate development environments on your own machine <br> …and then just code. </h3>
      </hgroup>
      <a href="http://docs.azk.io/en/installation/README.html" class="btn btn-large btn-tomato uppercase btn-default margin-sm-right">Install</a>
      <a href="http://docs.azk.io/" class="btn btn-large btn-transparent uppercase btn-default">Documentation</a>
    </div>
  </div>
</div>
