<section class="feature-item wrapper bg-turquoise colored">
  <a class="anchor" id="features">&nbsp;</a>
  <div class="container">
    <div class="row">
      <div class="text-center mar-b30 col-sm-12 col-lg-12">
        <hgroup>
          <h2><strong>azk</strong> Features</h2>
          <h3>What’s so great about <strong>azk?</strong></h3>
        </hgroup>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6 col-lg-6">
        <div class="row">
          <div class="col-sm-2 col-lg-2">
            <i class="fa fa-github fa-4x"></i>
          </div>
          <div class="feature-item col-sm-9 col-lg-9">
            <h4>Open Source</h4>
            <p><strong>azk</strong> is open source software (Apache 2.0) and will always be.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="row">
          <div class="col-sm-2 col-lg-2">
            <i class="fa fa-sliders fa-4x"></i>
          </div>
          <div class="feature-item col-sm-9 col-lg-9">
            <h4>Flexibility</h4>
            <p><strong>azk</strong> is agnostic and has a very soft learning curve. Keep using the exact same development tools you already use.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="row">
          <div class="col-sm-2 col-lg-2">
            <i class="fa fa-magic fa-4x"></i>
          </div>
          <div class="feature-item col-sm-9 col-lg-9">
            <h4>Automation</h4>
            <p>It only takes a few commands. Minutes instead of hours or days.</p>
            <p><strong>azk</strong> does its magic by executing very short and simple recipe files (Azkfile.js) that describe the environments to be installed and configured. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="row">
          <div class="col-sm-2 col-lg-2">
            <i class="fa fa-retweet fa-4x"></i>
          </div>
          <div class="feature-item col-sm-9 col-lg-9">
            <h4>Reuse</h4>
            <p>Reuse an entire Azkfile.js or just parts of it. Add new components or create new ones from scratch. Customize everything according to your requisites.</p>
            <p>It’s as easy as editing a text file.</p>
            <p>&nbsp;</p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="row">
          <div class="col-sm-2 col-lg-2">
            <i class="fa fa-rocket fa-4x"></i>
          </div>
          <div class="feature-item col-sm-9 col-lg-9">
            <h4>Performance</h4>
            <p><strong>azk</strong> is fast and your machine will barely fell it.</p>
            <p>It uses containers instead of virtual machines. Containers are like virtual machines, only with better performance and lower consumption of physical resources.</p>
            <p><strong>azk</strong> is built with <a href="http://docker.io">Docker</a>, the best open source engine for managing containers. </p>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="row">
          <div class="col-sm-2 col-lg-2">
            <i class="fa fa-check-square-o fa-4x"></i>
          </div>
          <div class="feature-item col-sm-9 col-lg-9">
            <h4>Best Practices</h4>
            <p>Sharing an Azkfile.js assures total parity among development environments in different programmers' machines and reduces the chances of bugs during deployment.</p>
            <p>Not sure if all the programmers in your team are using the updated version of the development environment? Just give them the latest Azkfile.js. With <strong>azk</strong>, you can kill and restart entire development environments in seconds (literally). </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
