<head>
  <meta charset="utf-8">
  <title>azk</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="Use AZK and get development environments installed and configured automatically on your own machine… and then just code." name="description">
  <meta content="AZK" name="author">

  <meta property="og:title" content="azk - Because coders code"/>
  <meta property="og:description" content="Use azk and easily orchestrate development environments on your own machine... then just code."/>
  <meta property="og:url" content="http://azk.io"/>
  <meta property="og:image" content="http://azk-landapage-stage.s3-website-sa-east-1.amazonaws.com/assets/images/azk-logo-share.png"/>
  <meta property="og:type" content="website"/>

  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@azukiapp">
  <meta name="twitter:title" content="azk - Because coders code">
  <meta name="twitter:description" content="Use azk and easily orchestrate development environments on your own machine... then just code.">
  <meta name="twitter:creator" content="@azukiapp">
  <meta name="twitter:image:src" content="http://azk-landapage-stage.s3-website-sa-east-1.amazonaws.com/assets/images/azk-logo-share.png">
  <meta name="twitter:domain" content="http://azk.io">
  <!-- JS  -->
  {% if site.production %}

    {% javascript js/prism.min %}
    {% stylesheet css/all.min %}

  {% else %}

    {% javascript js/prism %}
    {% javascript js/prism_azkfile %}
    {% stylesheet css/bootstrap %}
    {% stylesheet css/font-awesome %}
    {% stylesheet css/settings %}
    {% stylesheet css/colors %}
    {% stylesheet css/style %}
    {% stylesheet css/prism-okaidia %}
    {% stylesheet css/prism-line-numbers %}
    {% stylesheet css/responsive %}

  {% endif %}



  <!-- Favicon and touch icons  -->
  <link href="ico/apple-touch-icon-144x144.png" rel="apple-touch-icon" sizes="144x144">
  <link href="ico/apple-touch-icon-114x114.png" rel="apple-touch-icon" sizes="114x114">
  <link href="ico/apple-touch-icon-72x72.png" rel="apple-touch-icon" sizes="72x72">
  <link href="ico/apple-touch-icon-57x57.png" rel="apple-touch-icon">
  <link href="ico/favicon.png" rel="shortcut icon">
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="js/html5shiv.js"></script>
  <![endif]-->
</head>
