<section class="mini-wrapper bg-turquoise colored" style="padding-bottom: 10px;">
  <a class="anchor" id="newsletter">&nbsp;</a>
  <div class="container">
    <div class="row">
      <div class="text-center col-sm-12 col-lg-12">
        <hgroup>
          <h2>Newsletter</h2>
          <h3 class="margin-bottom">
            Get the latest news about <strong>azk</strong>! <br>
            We promise we’ll never share your information and we’ll only send useful stuff.
          </h3>
        </hgroup>
      </div>
    </div>
    <div class="row">
      <!-- Begin MailChimp Signup Form -->
      <div id="mc_embed_signup">
        <form action="//azukiapp.us7.list-manage.com/subscribe/post?u=5ca5c3aad78af9b2a3b45b59b&amp;id=1516822495" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="col-md-8 col-md-offset-2 validate" target="_blank" novalidate>
          <div class="row">
            <div class="form-group input-group-lg col-sm-4">
              <input type="text" name="FNAME" class="form-control" id="mce-FNAME" placeholder="Name">
            </div>
            <div class="form-group input-group-lg col-sm-6">
              <input type="email" name="EMAIL" class="form-control required email" id="mce-EMAIL" placeholder="Email">
            </div>
            <div id="mce-responses" class="clear">
              <div class="response" id="mce-error-response" style="display:none"></div>
              <div class="response" id="mce-success-response" style="display:none"></div>
            </div>
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_5ca5c3aad78af9b2a3b45b59b_1516822495" tabindex="-1" value=""></div>
            <div class="col-sm-2">
              <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="btn btn-lg btn-tomato btn-block">
            </div>
          </div>
        </form>
      </div>
      <!--End mc_embed_signup-->
      <div class="row">
      <div class="text-center col-sm-12 col-lg-12">
        <hgroup>
          <br><br>
          <h3 class="margin-bottom">
            <a href="http://us7.campaign-archive1.com/home/?u=5ca5c3aad78af9b2a3b45b59b&id=1516822495" target="_blank"><span class="underline-dotted-white">Checkout our previous editions</span></a>
          </h3>
        </hgroup>
      </div>
    </div>
    </div>
  </div>
</section>
