<section class="wrapper bg-white">
  <a class="anchor" id="testimonials">&nbsp;</a>
  <div class="container">
    <div class="row">
      <div class="text-center col-sm-12 col-lg-12 margin-bottom">
        <hgroup>
          <h2>Testimonials</h2>
          <h3>See what some cool folks with early access to <strong>azk</strong> are saying about it.</h3>
        </hgroup>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-md-6 col-lg-5 margin-bottom">
        <div class="row">
          <div class="col-xs-3">
            <div class="thumbnail bordered full-rounded">
              {% image images/testimonials/lfcipriani.png alt="lfcipriani" class="img-circle" %}
            </div>
          </div>
          <div class="col-xs-9">
            <i class="fa fa-caret-left testimonal_icon testimonal_icon-left"></i>
            <blockquote class="testimonal testimonal__first">Parity across instances of a project’s development environment within a team with several developers is a fundamental principle in modern web software development. <strong>azk</strong> makes that possible in an elegant and easy-to-use way.</blockquote>
            <div class="desc">
              <p>
                <strong>Luis Cipriani</strong> <a href="https://twitter.com/lfcipriani" target="_blank">@lfcipriani</a><br>
                <em>Developer advocate</em><br>
                <a href="http://twitter.com">Twitter</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 margin-bottom">
        <div class="row">
          <div class="col-xs-9">
            <i class="fa fa-caret-right testimonal_icon testimonal_icon-right"></i>
            <blockquote class="testimonal testimonal__first">Maybe every project in GitHub should have its own Azkfile.js in order to make its code absolutely ready to run instantly.</blockquote>
            <div class="desc">
              <p>
                <strong>Vinícius Baggio</strong> <a href="https://twitter.com/vinibaggio/" target="_blank">@vinibaggio</a><br>
                <em>Software Engineer</em><br>
                <a href="https://medium.com/">Medium</a>
              </p>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail bordered full-rounded">
              {% image images/testimonials/vinibaggio.jpg alt="vinibaggio" class="img-circle" %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-md-6 col-lg-5 margin-bottom">
        <div class="row">
          <div class="col-xs-3">
            <div class="thumbnail bordered full-rounded">
              {% image images/testimonials/fnando.jpg alt="fnando" class="img-circle" %}
            </div>
          </div>
          <div class="col-xs-9">
            <i class="fa fa-caret-left testimonal_icon testimonal_icon-left"></i>
            <blockquote class="testimonal testimonal__second"><strong>azk</strong> reduces the entry barrier for beginner developers and catalyses the introduction of new professionals to the marketplace. In that sense, what <strong>azk</strong> does for environments orchestration looks a lot like what Ruby on Rails did for web development. <strong>azk</strong> may turn into a relevant tool for programming education everywhere.</blockquote>
            <div class="desc">
              <p>
                <strong>Nando Vieira</strong> <a href="https://twitter.com/fnando" target="_blanck">@fnando</a><br>
                <em>Senior Member of the Technical Staff</em><br>
                <a href="http://heroku.com">Heroku</a>
              </p>
            </div>
          </div>
        </div>
      </div>
     <div class="col-md-6 col-lg-5 margin-bottom">
        <div class="row">
          <div class="col-xs-9">
            <i class="fa fa-caret-right testimonal_icon testimonal_icon-right"></i>
            <blockquote class="testimonal testimonal_second">Currently available tools for maintaining development environments are very time and effort consuming. <strong>azk</strong> makes everything a snap and hides away the tough parts of this process (while keeping it transparent enough so that we’re always aware and in control of what’s going on underneath). It’s like <strong>azk</strong> came from the future.</blockquote>
            <div class="desc">
              <p>
                <strong>Luiz Rocha</strong> <a href="https://twitter.com/lsdr">@lsdr</a><br>
                <em>CTO</em><br>
                <a href="http://gaveteiro.com.br/">Gaveteiro</a>
              </p>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail bordered full-rounded">
              {% image images/testimonials/lsdr.jpg alt="lsdr" class="img-circle" %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-offset-1 col-md-6 col-lg-5 margin-bottom">
        <div class="row">
          <div class="col-xs-3">
            <div class="thumbnail bordered full-rounded">
              {% image images/testimonials/carlosbrando.jpg alt="carlosbrando" class="img-circle" %}
            </div>
          </div>
          <div class="col-xs-9">
            <i class="fa fa-caret-left testimonal_icon testimonal_icon-left"></i>
            <blockquote class="testimonal testimonal_third">Quickly integrating new developers into the team or relocating them to different projects are some of the things <strong>azk</strong> allows me to consider as the CTO of a rapidly growing startup. By the way, <strong>azk</strong> is open source (and thus 100% free)!</blockquote>
            <div class="desc">
              <p>
                <strong>Carlos Brando</strong> <a href="https://twitter.com/carlosbrando" target="_blank">@carlosbrando</a><br>
                <em>CTO</em><br>
                <a href="http://enjoei.com.br">Enjoei</a>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-5 margin-bottom">
        <div class="row">
          <div class="col-xs-9">
            <i class="fa fa-caret-right testimonal_icon testimonal_icon-right"></i>
            <blockquote class="testimonal testimonal__third"><strong>azk</strong> is so simple and yet so powerful. It’s like having a whole PaaS in your own machine. As a developer, <strong>azk</strong> is the kind of tool I’ve always dreamed of having.</blockquote>
            <div class="desc">
              <p>
                <strong>David Lojudice</strong> <a href="https://twitter.com/dalssoft" target="_blank">@dalssoft</a><br>
                <em>CTO</em><br>
                <a href="http://scup.com">Scup</a>
              </p>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="thumbnail bordered full-rounded">
              {% image images/testimonials/dalssoft.jpg alt="dalssoft" class="img-circle" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
