<section class="mini-wrapper bg-turquoise colored">
  <a class="anchor" id="use-case"></a>
  <div class="container">
    <div class="row margin-bottom-large">
      <div class="text-center col-sm-12 col-lg-12">
        <h2>Use Cases</h2>
        <h3><strong>azk</strong> is for everyone in a software development project. Find out what it can do for you:</h3>
      </div>
    </div>

    <div class="row margin-bottom-large">
      <div class="col-md-offset-1 col-xs-4 text-center">
        {% image images/usecases/devs.png alt="devs" class="use-case-img" %}
      </div>
      <div class="col-xs-8 col-md-6">
        <h4>Software Developers</h4>
        <p>Get the right Azkfile.js and <strong>azk</strong> does the rest. Your development environment will be ready to roll in a few moments. Create an Azkfile.js from scratch, edit an existing one or even tell <strong>azk</strong> to write you one based on your requirements or existing code.</p>
        <p>You are a coder. All you should have to do is to code. ;)</p>
      </div>
    </div>

    <div class="row margin-bottom-large">
      <div class="col-md-offset-1 col-xs-8 col-md-6">
        <h4>Sys Admin/Dev Ops</h4>
        <p>Use <strong>azk</strong> to automate the installation and orchestration workflow of development environments for your team. You’ll also be able to maintain uniformity across those environments with no effort. Finally, the way <strong>azk</strong> builds environments makes it super easy to keep track of their evolving versions. </p>
        <p>You’ll be your dev team’s hero. 8)</p>
      </div>
      <div class="col-xs-4 text-center">
        {% image images/usecases/devops.png alt="devops" class="use-case-img" %}
      </div>
    </div>

    <div class="row">
      <div class="col-md-offset-1 col-xs-4 text-center">
        {% image images/usecases/designer.png alt="designer" class="use-case-img" %}
      </div>
      <div class="col-xs-8 col-md-6">
        <h4>Designers, UX, QA, product managers etc.</h4>
        <p>(<strong>Soon</strong>). With the graphical user interface module, every project stakeholder that has to run code in development for any reason will be able to do so, even if they can’t program or install a development environment by themselves.</p>
        <p>It doesn’t matter what kind of tests or checks you have to perform (UX, design, QA, product management etc.). With the project’s Azkfile.js you can install everything (including the project code itself) with literally just a few clicks.</p>
        <p>You’ll always be empowered. \o/</p>
      </div>
    </div>
  </div>
</section>